<h1> Jeopardy </h1>
<h2> Category: <%= @category %></h2>
<%= @id %>
<h2> <%= @question %> </h2>

<form method="post" action="/check-answer">
  <input type="hidden" name="id" value="<%= @id %>">
  <input type="text" name="response">
  <input type="submit">
</form>
